
name: CI-iOS

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-and-test:
    name: Build and Test CI scheme
    runs-on: macos-13

    timeout-minutes: 10

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        
      - name: Select Xcode
        run: sudo xcode-select -switch /Applications/Xcode_14.3.1.app
      
      - name: Xcode version
        run: /usr/bin/xcodebuild -version
      
      - name: Build & Test
        run: xcodebuild clean build test -project EssentialFeed.xcodeproj -scheme "CI_iOS" CODE_SIGN_IDENTITY="" CODE_SIGNING_REQUIRED=NO -sdk iphonesimulator -destination "platform=iOS Simulator,name=iPhone 14,OS=16.4" ONLY_ACTIVE_ARCH=YES ONLY_ACTIVE_ARCH=YES
